<%= show_errors_for_form(f) %> 
<div class="form-group">
  <%= f.label :name, 'Nombre' %>
  <%= f.text_field :name, required: true, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :phone, 'Teléfono' %>
  <%= f.text_field :phone, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :address, 'Dirección' %>
  <%= f.text_field :address, class: 'form-control' %>
</div>
