<div class="row">
  <div class="col">
    <h1>Listado de lugares</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <%= link_to  new_admin_place_path, class: 'btn btn-primary btn-sm' do %>
      <i class="fas fa-plus-square"></i>
      Añadir lugar
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Telefono</th>
        <th scope="col">Direccion</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <% @places.each do |place| %>
        <tr>
          <td><%= place.name %></td>
          <td><%= place.phone %></td>
          <td><%= place.address %></td>
          <td>
            <%= link_to admin_place_path(place), class: 'btn btn-secondary btn-sm', title: 'Ver' do %>
              <i class="fas fa-eye"></i>
            <% end %>
            <%= link_to new_admin_place_variety_path(place.id), class: 'btn btn-secondary btn-sm',
                        title: 'Añadir variedad' do %>
              <i class="fas fa-plus-square"></i>
            <% end %>
            <%= link_to edit_admin_place_path(place.id), class: 'btn btn-secondary btn-sm', title: 'Editar' do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to admin_place_path(place), method: :delete,
                        data: {confirm: '¿Estas seguro?'}, class: 'btn btn-danger btn-sm', title: 'Eliminar' do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>

      <% end %>
      </tbody>
    </table>
  </div>
</div>
