<div class="row">
  <div class="col">
    <h1><%= I18n.t('tittle.list_place') %></h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <%= link_to  new_admin_place_path, class: 'btn btn-primary btn-sm' do %>
      <i class="fas fa-plus-square"></i>
      <%= I18n.t('button.add_place') %>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col"><%= I18n.t('table.name') %></th>
        <th scope="col"><%= I18n.t('table.phone') %></th>
        <th scope="col"><%= I18n.t('table.address') %></th>
        <th scope="col"><%= I18n.t('table.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% @places.each do |place| %>
        <tr>
          <td><%= place.name %></td>
          <td><%= place.phone %></td>
          <td><%= place.address %></td>
          <td>
            <%= link_to admin_place_path(place), class: 'btn btn-secondary btn-sm', title: I18n.t('button.view_place') do %>
              <i class="fas fa-eye"></i>
            <% end %>
            <%= link_to new_admin_place_variety_path(place.id), class: 'btn btn-secondary btn-sm',
                        title: I18n.t('button.add_variety') do %>
              <i class="fas fa-plus-square"></i>
            <% end %>
            <%= link_to edit_admin_place_path(place.id), class: 'btn btn-secondary btn-sm', title: I18n.t('button.edit_place') do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to admin_place_path(place), method: :delete,
                        data: {confirm: I18n.t('message.confirm_delete_place')}, class: 'btn btn-danger btn-sm', title: I18n.t('button.delete_place') do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
