<h1><%= @place.name %></h1>
<p><i class="fas fa-phone"></i> <%= @place.phone %></p>
<p><i class="fas fa-map-marker-alt"></i> <%= @place.address %></p>
<h4><%= I18n.t('tittle.list_place') %></h4>

<p>
  <%= link_to new_admin_place_variety_path(@place.id), class: 'btn btn-primary btn-sm' do %>
    <i class="fas fa-plus-square"></i>
    <%= I18n.t('button.add_variety') %>    
  <% end %>
</p>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col"><%= I18n.t('table.name') %></th>
    <th scope="col"><%= I18n.t('table.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% @place.varieties.each do |variety| %>
    <tr>
      <td><%= variety.name %></td>
      <td>
        <%= link_to edit_admin_place_variety_path(@place.id, variety.id), class: 'btn btn-secondary btn-sm',
                    title: I18n.t('button.edit_variety') do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to admin_place_variety_path(@place.id, variety.id), method: :delete,
                    data: {confirm: I18n.t('message.confirm_delete_variety')}, class: 'btn btn-danger btn-sm', title: I18n.t('button.delete_variety') do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

