<h1>Finalizar pedido</h1>
<div class="row">
  <div class="col">
    <h3>Datos del comercio</h3>
    <ul>
      <li><%= session[:place]['name'] %></li>
      <li>Teléfono: <%= session[:place]['phone'] %></li>
    </ul>
  </div>
</div>
<table class="table table-striped">
  <%= render partial: 'summary' %>
  <tr>
    <td><strong>Total de empanadas</strong></td>
    <td><strong><%= session[:order]['sum_of_all_varieties'] %></strong></td>
    <% session[:order]['sum_of_varieties_by_person'].values.each do |quantity| %>
      <td><%= quantity %></td>
    <% end %>
  </tr>
  </tfoot>
</table>
<%= form_for :price, url: finish_order_path do |f| %>
  <div class="form-group">
    <%= f.label 'Precio' %>
    <%= f.text_field 'price', class: 'form-control' %>
  </div>
  <button type="submit" class="btn btn-primary">Finalizar</button>
<% end %>