<h1>Pedido para <%= @order.place_name %></h1>
<div class="row">
  <div class="col">
    <%= form_for :input_order, url: orders_path(place_id: params[:place_id], order_id: @order.id) do |f| %>
      <table class="table table-striped">
        <thead>
        <th></th>
        <th scope="col" colspan=8 id="nombres-integrantes">Nombres de los integrantes del pedido</th>
        <tr>
          <th scope="col">Variedad</th>
          <% 8.times do |x| %>
            <th scope="col"><%= f.text_field "name[#{x}]", class: 'form-control' %></th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% @order.place.varieties.each do |variety| %>
          <tr>
            <td><%= variety.name %></td>
            <% 8.times do |x| %>
              <td><%= f.number_field "q[#{x}][#{variety.id}]", min: 0, value: 0 ,class: 'form-control' %></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
      <button type="submit" class="btn btn-primary">Pedir</button>
    <% end %>
  </div>
</div>
