<% if @order.was_ordered? %>
  <h1>¡Este pedido concluyó con éxito!</h1>
<% elsif !@order.open %>
  <h1>Este pedido está en proceso de ser ordenado</h1>
  <br>
  <h2>Si el organizador lo permite, podrás volver a cargar preferencias. Por favor espera y recarga la página.</h2>
  <br>
<% end %>
<div class="row">
  <div class="col">
    <h3>Datos del comercio</h3>
    <ul>
      <li><%= @order.place_name %></li>
      <% if @order.place_phone %>
        <li>Teléfono: <%= @order.place_phone %></li>
      <% end %>
    </ul>
  </div>
</div>
<table class="table table-striped">
  <%= render partial: 'summary' %>
  <tfoot>
  <tr>
    <td><strong>Total de empanadas</strong></td>
    <td><strong><%= @order.total_units %></strong></td>
    <% @order.list_of_participants.each do |person| %>
      <td><%= @order.total_units_per_person[person] %></td>
    <% end %>
  </tr>
  <tr>
    <td><strong>Total precio</strong></td>
    <% if @order.price != 0 %>
      <td>$ <%= @order.price %></td>
    <% else %>
      <td>Pendiente</td>
    <% end %>
    <% @order.list_of_participants.each do |person| %>
      <% if @order.price_per_person[person] != 0 %>
        <td>$ <%= @order.price_per_person[person] %></td>
      <% else %>
        <td>Pendiente</td>
      <% end %>
    <% end %>
  </tr>
  </tfoot>
</table>
