<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<div class="jumbotron jumbo1tron-fluid">
  <div class="container">
    <h1 class="display-5">Tus problemas para pedir empanadas son historia</h1>
    <p class="lead">¡Con empanadeitor podrás organizar o unirte a pedidos que se hagan
      en tu oficina con un solo click!</p>
  </div>
</div>

<h2><strong>¿Cómo empezar?</strong></h2>

<div class="row">
  <div class="col">
    <h4>Puedes</h4>
    <h3>Armar un pedido</h3>
    <div class="alert alert-info" role="alert">
      <i class="fas fa-info-circle"></i>
      ¿No encuentras tu lugar en la lista?
      Crea una orden llenando el lugar personalizado
    </div>
    <table class="table table-borderless table-striped">
      <thead>
      <th>Lugares para comenzar pedido</th>
      </thead>
      <tbody>
      <div class="row">
        <tr>
          <%= form_for :custom_place, method: :get, class: 'inline-form', url: new_custom_place_orders_path do |f| %>
            <td><%= f.text_field :name, required: true, placeholder: 'Lugar personalizado', class: 'form-control' %></td>
            <td>
              <button type="submit" class="btn btn-primary btn-sm" %>Crear orden</button>
            </td>
          <% end %>

        </tr>
      </div>
      <% @places.each do |place| %>
        <tr>
          <td><%= place.name %></td>
          <td>
            <%= link_to 'Crear orden', new_order_path(place_id: place.id), class: 'btn btn-primary btn-sm' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <h4>O bien</h4>
    <h3>Unirte a un pedido iniciado por alguien</h3>

    <%= form_for :join_order, url: send_order_slug_orders_path do |f| %>
      <%= f.text_field :slug, class: 'form-control', required: true, placeholder: 'Código de invitación' %>
      <br>
      <button type="submit" class="btn btn-primary btn-sm" %>Unirse</button>
    <% end %>
  </div>
</div>
      <br>


