<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<h2>Armar pedido</h2>
<table class="table table-borderless table-striped">
  <thead>
  <th>Lugar</th>
  </thead>
  <tbody>
  <% @places.each do |place| %>
    <tr>
      <td><%= place.name %></td>
      <td>
        <%= link_to 'Crear orden', new_order_path(place_id: place.id), class: 'btn btn-primary btn-sm' %></td>
    </tr>
  <% end %>
  <tr>
    <%= form_for :custom_place, method: :get, url: new_custom_place_orders_path do |f| %>
      <td><%= f.text_field :name, value: 'Lugar personalizado' %></td>
      <td>
        <button type="submit" class="btn btn-primary btn-sm" %>Crear orden</button>
      </td>
    <% end %>
  </tr>
  </tbody>
</table>

<h2>Unirse a pedido</h2>
<%= form_for :join_order, class:'inline-form', url: send_order_slug_orders_path do |f| %>
  <%= f.text_field :slug %>
  <button type="submit" class="btn btn-primary btn-sm" %>Unirse</button>
<% end %>



