<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-5">Tus problemas para pedir empanadas son historia</h1>
    <p class="lead">¡Con empanadeitor podrás organizar o unirte a pedidos que se hagan
      en tu oficina con un solo click!</p>
  </div>
</div>

<h2><strong>¿Cómo empezar?</strong></h2>
<h4>Podés</h4>
<div class="container unirse-pedido">
  <h3>Unirte a un pedido iniciado por alguien</h3>
  <div class="row">
    <div class="col">
      <%= form_for :join_order, class: 'inline-form', url: send_order_slug_orders_path do |f| %>
        <div class="row align-items-center">
          <div class="col-md-4">
            <%= f.text_field :slug, class: 'form-control', placeholder: 'Código de invitación de 4 caracteres' %>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary btn-sm" %>Unirse</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br>

<h4>O bien</h4>
<div class="container armar-pedido">
  <h3>Armar un pedido</h3>
  <p>¿Tu lugar no está en nuestra base de datos?
    Creá una orden llenando el lugar personalizado</p>
  <table class="table table-borderless table-striped">
    <thead>
    <th>Lugares para comenzar pedido</th>
    </thead>
    <tbody>
    <div class="row">
      <tr>
        <%= form_for :custom_place, method: :get, class: 'inline-form', url: new_custom_place_orders_path do |f| %>
          <td><%= f.text_field :name, required: true, placeholder: 'Lugar personalizado', class: 'form-control' %></td>
          <td>
            <button type="submit" class="btn btn-primary btn-sm" %>Crear orden</button>
          </td>
        <% end %>

      </tr>
    </div>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td>
          <%= link_to 'Crear orden', new_order_path(place_id: place.id), class: 'btn btn-primary btn-sm' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>



