<h1>Pedido para <%= @order.place_name %></h1>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<div class="row">
  <div class="col">
    <%= form_for :input_order, url: create_join_order_path do |f| %>
      <%= f.hidden_field 'slug', value: @order.slug %>
      <table class="table table-striped table-responsive">
        <thead>
        <th></th>
        <th scope="col" colspan=8 id="nombres-integrantes">Nombres de los integrantes del pedido</th>
        <tr>
          <th scope="col">Variedad</th>
          <% participants = @order.list_of_participants %>
          <% if !session[:current_user].presence %>
            <th scope="col"><%= f.text_field "name", placeholder: 'Tu nombre', class: 'form-control' %></th>
          <% else %>
            <th scope="col"><%= session[:current_user] %></th>
          <% end %>
          <% participants.each do |participant| %>
            <% if participant != session[:current_user] %>
              <th scope="col"><%= participant %> </th>
            <% end %>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% if @order.place %>
          <% @order.place.varieties.each do |variety| %>
            <tr>
              <td id="column"><%= variety.name %></td>
              <td id="column"><%= f.number_field "q[#{variety.id}]", min: 0, value: @order.search_quantity(session[:current_user], variety.name), class: 'form-control' %></td>
              <% participants.each do |participant| %>
                <% if participant != session[:current_user] %>
                  <td id="column">
                    <%= @order.search_quantity(participant, variety.name) %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <% varieties = @order.varieties_to_buy %>
          <% varieties.length.times do |v| %>
            <tr>
              <td id="column"><%= varieties[v] %>
                <%= f.text_field "variety[#{v}]", value: varieties[v], type: 'hidden' %>
              </td>
              <td id="column"><%= f.number_field "q[#{v}]", min: 0, value: @order.search_quantity(session[:current_user], varieties[v]), class: 'form-control' %></td>
              <% participants.each do |participant| %>
                <% if participant != session[:current_user] %>
                  <td id="column">
                    <%= @order.search_quantity(participant, varieties[v]) %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
          <% (5 - varieties.length).times do |v| %>
            <tr>
              <td id="column"><%= f.text_field "variety[#{v + varieties.length}]", class: 'form-control', placeholder: 'Variedad' %></td>
              <td><%= f.number_field "q[#{v + varieties.length}]", min: 0, value: 0, class: 'form-control' %></td>
              <% if !session[:current_user].present? || !participants.include?(session[:current_user]) %>
                <% (participants.length).times do |x| %>
                  <td>0</td>
                <% end %>
              <% else %>
                <% (participants.length - 1).times do |x| %>
                  <td id="column">0</td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
      <%= f.submit 'Enviar Preferencias', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
