<h1>Pedido finalizado</h1>
<div class="row">
  <div class="col">
    <h3>Datos del comercio</h3>
    <ul>
      <li><%= @order.place_name %></li>
      <% if @order.place_phone %>
        <li>Teléfono: <%= @order.place_phone %></li>
      <% end %>
    </ul>
  </div>
</div>
<table class="table table-striped">
  <%= render partial: 'summary'%>
  <tfoot>
  <tr>
    <td><strong>Total de empanadas</strong></td>
    <td><strong><%= @order.total_units %></strong></td>
    <% @order.list_of_participants.each do |person| %>
      <td><%= @order.total_units_per_person[person] %></td>
    <% end %>
  </tr>
  <tr>
    <td><strong>Total precio</strong></td>
    <td>$ <%= @order.price %></td>
    <% @order.list_of_participants.each  do |person| %>
      <td>$ <%= @order.price_per_person[person] %></td>
    <% end %>
  </tr>
  </tfoot>
</table>
