<div class="row">
  <div class="col">
    <h1>Listado de variedades</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <%= link_to 'Añadir variedad', new_admin_variety_path, class: 'btn btn-primary btn-sm' %>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Lugar</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <% @varieties.each do |variety| %>
        <tr>
          <td><%= variety.name %></td>
          <td><%= variety.price %></td>
          <td><%= variety.place.name %></td>
          <td>
            <%= link_to 'Editar', edit_admin_variety_path(variety.id), class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Eliminar', { :action => :destroy, :id => variety.id }, :method => :delete,
                        :data => { :confirm => '¿Estas seguro?' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>

      <% end %>
      </tbody>
    </table>
  </div>
</div>
