<h1>Añadir lugar de comida</h1>
<%= form_for(@place) do |f| %>
  <%= f.label :name, 'Nombre'%>
  <%= f.text_field :name, required: true  %>
  <br><br>
  <%= f.label :phone, 'Teléfono' %>
  <%= f.text_field :phone %>
  <br><br>
  <%= f.label :address, 'Dirección' %>
  <%= f.text_field :address %>
  <br><br>
  <%= f.submit %>
<% end %>