<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Empanadeitor</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
 <a class="navbar-brand" href=<%= root_path %>>Empanadeitor</a>
 <img src="<%= asset_path 'wecode.png' %>" width="30" height="30" alt="">  
 <div>
    <ul class="social-network social-circle">
    <li><a href='https://www.facebook.com/wecodeio' target='_blank' title="Facebook"><i class="fa fa-facebook"></i></a></li>
    <li><a href='https://twitter.com/wecodeio' target='_blank' title="Twitter"><i class="fa fa-twitter"></i></a></li>
    <li><a href='https://github.com/wecodeio' target='_blank' title="GitHub"><i class='fa fa-github'></i></a></li>
    <li><a href='https://flickr.com/wecodeio' target='_blank' title="Flickr"><i class='fa fa-flickr'></i></a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <%= yield %>
</div>

<footer>
    <div class="container text-center">
      <a href='https://github.com/wecodeio/empanadeitor' target='_blank' class="btn btn-secondary btn-sm">
        <i class="fa fa-github"></i> Colabora con nuestro proyecto
      </a>
    </div>
</footer>
</body>
</html>
